.about {
    background: $bg-color;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.about-container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary-color;
    padding: 1rem;
    background: $white;
    border-radius: .50rem;
    .img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        .myPic {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
        }
    }
    .about-info {
        padding: 2rem;
        font-size: 1.2rem;
        overflow: scroll;
    }
    .about-info::-webkit-scrollbar {
        width: 5px;
    }
    .about-info::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 10px;
    }
    
    
}
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
    .img-container {
        padding: .50rem;
    }
    .about-info {
        font-size: .70rem;
        height: 250px;
    }
}