.about {
    background: $bg-color;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}
.about-title {
    font-size: 2rem;
    color: $primary-color;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .30rem;
    text-align: center;
    padding: 2rem 0rem;
}
.about-container {
    width: 90%;
    display: flex;
    // margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary-color;
    padding: 1rem;
    background: $white;
    border-radius: .50rem;
    .img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        .myPic {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .about-info {
        padding: 2rem;
        font-size: 1.2rem;
        display: contents;
    }
}
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: .70rem;
    }
    .img-container {
        padding: .70rem;
    }
    .about-info {
        font-size: .70rem;
        height: 250px;
        padding: 1rem;
    }
}