.banner {
  height: 100vh;
  position: relative;
  background-color: $bg-color;
}

.banner-video {
  background: url(../images/bg-video.mp4);
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.banner-video-mobile {
  display: none;
}

.banner-info {
  position: absolute;
  background: $primary-color;
  align-self: center;
  border-radius: 0.5rem;
  width: 50%;
  top: 20%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 1.2rem;
  font-size: 1.1rem;
  box-shadow: 5px 10px 10px rgba($black, 0.2);
}
.banner-info h2 {
  font-weight: normal;
}
.banner-info h1 {
  font-weight: normal;
  color: $white;
  letter-spacing: 0.3rem;
  margin-top: 0.5rem;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 50vh;
  }
}

@media screen and (max-width: 678px) {
  .banner {
    height: 60vh;
  }
  .banner-info {
    width: 70%;
    top: 40%;
  }
}
@media screen and (max-width: 540px) {
  .banner {
    height: 100vh;
  }
  .banner-video {
    display: none;
  }
  .banner-video-mobile {
    display: block;
    position: absolute;
    width: 100%;
  }
  .banner-info {
      top: 20%;
  }
}

@media screen and (max-width: 472px) {
    .banner-info {
        top: 10%;
        width: 80%;
    }
}
