.banner {
    height: 100vh;
    position: relative;
}

.banner-video {
    background: url(../images/bg-video.mp4);
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.banner-info {
    position: absolute;
    background: $primary-color;
    align-self: center;
    border-radius: .50rem;
    width: 50%;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 1.2rem;
    font-size: 1.1rem;
    box-shadow: 5px 10px 10px rgba($black, 0.2);
}
.banner-info h2 {
    font-weight: normal;
}
.banner-info h1 {
    font-weight: normal;
    color: $white;
    letter-spacing: .30rem;
    margin-top: .50rem;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .banner-info {
        min-width: 70%;
        top: 10%;
        right: 50%;
    }
}
@media screen and (max-width: 479px) {
    .banner-info {
        font-size: 1rem;
        min-width: 90%;
    }
}