.banner {
    height: 100vh;
    background-image: url(../images/bg-image.png);
    background-size: cover;
    background-position: left;
    position: relative;
}

.banner-info {
    position: absolute;
    background: $primary-color;
    align-self: center;
    border-radius: .50rem;
    width: 50%;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 1.2rem;
    font-size: 1.1rem;
    box-shadow: 5px 10px 10px rgba($black, 0.2);
}
.banner-info h2 {
    font-weight: normal;
}
.banner-info h1 {
    background: $primary-color;
    border-radius: .50rem;
    font-weight: normal;
    padding: .50rem;
    color: $white;
    letter-spacing: .30rem;
    margin-top: .50rem;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .banner {
      height: 80vh;
    }
    .banner-info {
        min-width: 70%;
        top: 20%;
        right: 50%;
    }
}
@media screen and (max-width: 479px) {
  .banner {
    height: 70vh;
  }
    .banner-info {
        font-size: 1rem;
        min-width: 90%;
    }
}