.projects {
    background: $bg-color;
    padding: 3rem;
}
.projects-title {
    font-size: 2rem;
    color: $primary-color;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .30rem;
    text-align: center;
    padding: 2rem 0rem;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.img-project {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

