* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 5;
  padding: 1rem 4rem;
}

.logo {
  width: 2.5rem;
  z-index: 6;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-links li a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-links li a:hover {
  color: #CE7535;
}

.nav-links li:not(:last-child) {
  margin-right: 1rem;
}

.hamburger-menu {
  display: none;
}

.bars {
  width: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: relative;
    position: fixed;
    padding-left: 0;
  }
  .nav-links {
    top: 0;
    position: fixed;
    background: #CE7535;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-clip-path: circle(100px at 90% -20%);
            clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links a {
    font-size: 1.2rem;
  }
  .nav-links li:not(:last-child) {
    margin-bottom: 3rem;
    margin-right: 0;
  }
  .nav-links li a:hover {
    color: white;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 6;
  }
  .logo {
    margin-left: 4rem;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1000px at 90% -20%);
            clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    margin-left: 1rem;
  }
  .hamburger-menu {
    margin-right: -2.5rem;
  }
}

.banner {
  /* margin-top: 10vh; */
  height: 100vh;
  background-image: url(../images/bg-image.png);
  background-size: cover;
  background-position: right;
  position: relative;
}

.banner-info {
  position: absolute;
  background: #fff;
  border-radius: .50rem;
  top: 20%;
  right: 55%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  padding: 1.2rem;
  font-size: 1.1rem;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.banner-info h2 {
  font-weight: normal;
}

.banner-info h1 {
  background: #CE7535;
  border-radius: .50rem;
  font-weight: normal;
  padding: .50rem;
  letter-spacing: .30rem;
  margin-top: .50rem;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .banner-info {
    min-width: 70%;
    top: 10%;
    right: 50%;
  }
}

@media screen and (max-width: 479px) {
  .banner-info {
    font-size: 1rem;
    min-width: 90%;
  }
}

.about {
  background-image: url(../images/bg-keyboard.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #CE7535;
  padding: 1rem;
  background: white;
  border-radius: .50rem;
}

.about-container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.about-container .img-container .myPic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.about-container .about-info {
  padding: 2rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */