$primary-color: #CE7535;
$black: black;
$white: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}

@import "menu";
@import "banner";
@import "about";
@import "projects";